
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

body { background-color: #315d6f; }


.orange { color: #ff6600; }
.white {color: #fff; }
.bg-white {
	background-color: #fff;
}

/*--- menu smartphone ---*/

@media (max-width: 575px) { 
	.logo {
		width: 150px;
		height: 30px;
	}
}

@media (max-width: 767px) { 
	.logo {
		width: 200px;
		height: 30px;
	}
}

/*--- nav-top ---*/

.nav-top { height: 35px; }
.nav-top li.nav-item {
	color: #fff;
	font-size: 14px;
}


@media (min-width: 768px) {

}

section {
	padding: 30px 0;
}

section h1 {
	
}

section .form-login {
	padding: 30px;
	border-radius: 6px;
	background-color: #fff;
}

section .tab-pane {
	margin-top: 50px;
}

section#servicos {
	padding: 0;
	background: url(../img/bg/pattern.png) center fixed repeat;
}

section .bg-servicos {
	padding: 20px 0 40px 0;
	background-color: rgba(255,255,255,.7);
}





/*----- footer -----*/

footer { 
	padding: 0; color: #000; 
	background: url("../img/bg/losango.png");
	background-repeat: repeat;
	background-attachment: fixed;
}

.bg-footer { 
	padding: 70px 0;
	background-color: rgba(255,240,231,.4);
}

footer > .media:first-child { margin-top: 50px; }

footer .media {
	padding-top: 10px;
}
footer .navbar-nav li a {
	color: #000;
}

footer h5 { color: #ff6600; }

footer ul {
	margin-top: 30px;
}

section#footer-bottom { padding: 20px 0 5px 0; color: #fff; }

section#footer-bottom .list-inline li {
	display: inline-block;
}

.navbar .navbar-text .list-inline li {
	display: inline-block;
	padding-top: 15px;
}

.navbar .navbar-text .list-inline li a i {
	font-size: 15px;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}

.facebook { color: #3b5998; }
.google { color: #d34836; }
.linkedin { color: #0077B5; }
.twitter { color: #00aced; }

/*----- visible and hidden -----*/

.visible-xs {
  visibility: visible;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}